body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.converter {
    text-align: center;
    max-width: 400px;
    margin: auto;
    box-sizing: border-box;
    padding: 25px;
    background-color: grey;
    color: black;
    border-color: white;
    box-shadow: 0 0 20px white;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: black;
    box-shadow: 0 0 20px white;
}
